<!DOCTYPE html>
<html>
<head>
	<title>image</title>
	<style>
		body{
		background-image: url({{url_for('static',filename='img/dna.png')}})
		}
	</style>
</head>
<body>
<img src="dna3.png" alt="brain">

</body>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
</html>